!!!HTML
html
  head
    title ??
    meta(charset='utf8')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style", content='black')
    meta(name='viewport', content='user-scalable=no, width=device-width')
    link(rel='stylesheet', href='/resources/stylesheets/style.css')
    script(src='/resources/js/zepto.min.js')
    script(src='/resources/js/game.js')
    script(src='/resources/js/sceneTransitions.js')
    script(src='/resources/js/entityTraits.js')
    script(src='/resources/js/vaseline.js')
  body