/*
 * Reset
 */

* {
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
}

/*
 * Generic styling
 */

body {
	font-family: 'Arial', sans-serif;
	font-size: 20px;
	line-height: 1.5em;
}

button {
	font-family: 'Arial', sans-serif;
	font-size: 20px;
	border: 1px solid rgba(230, 230, 230, 0.8);
	background-color: rgba(245, 245, 245, 0.8);
	color: #eee;
	text-shadow: 0px 1px 0px rgba(245, 245, 245, 0.8);
	padding: 10px 45px;
	border-radius: 3px;
	margin: 10px;
	-webkit-box-shadow: 0px 2px 1px rgba(0,0,0,0.05), inset 0px -1px 0px rgba(100, 100, 100, 0.1);
	cursor: pointer;
	color: #22428f;
}

.popover {
	z-index: 100;
	position: absolute;
	color: #fff;
	padding: 20px;
	top: 20px;
	right: 20px;
	left: 20px;
	background-color: rgba(0,0,0,0.5);
	border: 1px solid rgba(0, 0, 0, 0.5);
	-webkit-border-radius: 5px;
	font-size: 20px;
}

.popover p {
	float: left;
	margin: 15px 0px 0px 0px;
}

.popover button {
	float: right;
}

.action-layer {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

/*
 * Stage element
 */

#stage {
	top: 0;
	left: 0;
	position: absolute;
	overflow: hidden;
}

/*
 * Generic Scene elements
 */

.scene {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/*
 * Individual scene elements
 */


/* Start scene */

.start {
	background-image: url('/resources/images/start-screen.jpg');
}

.start label {
	display: block;
	margin: 800px auto 0 auto;
	text-align: center;
}

/* Soap scene */

.soap {
	background-color: #9c5a39;
	background-image: url('/resources/images/cracked-skin.jpg');
}

#user-controlled-soap-bar {
	background-image: url('/resources/images/soap.png');
	width: 180px;
	height: 125px;
	position: absolute;
	z-index: 100;
}

#game-timer {
	position: absolute;
	z-index: 200;
}

.soap .germ {
	position: absolute;
	height: 200px;
	width: 100px;
	background-color: rgba(83, 205, 29, 0.7);
	z-index: 50;
	-webkit-border-radius: 5px;
}

.soap #score,
.soap #game-timer {
	font-weight: bold;
	font-size: 30px;
	background-color: rgba(255, 255, 255, 0.5);
	-webkit-border-radius: 5px;
	position: absolute;
	padding: 10px;
	border: 1px solid #fff;
	width: 40px;
	text-align: center;
	z-index: 120;
}

/* Finish scene */
.finish {
	background-color: #eee;
}

.finish p {
	text-align: center;
	margin: 40px 0px 40px 0px;
}